<div class="form">
    <div class="display-6 text-light text-center rounded-2 border">
        REGISTRO DE ESTUDANTES
            </div>
    <form class="" [formGroup]="formGroup">
        <div class="form-group">
            <div class="row">
                <div class="col-md-8 mt-2">
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </span>
                        <div class="form-floating">
                          <input type="text" class="form-control" formControlName="name" id="nome" placeholder="Nome do aluno" required>
                          <label for="nome">Nome</label>
                        </div>
                    </div>
                </div>
        </div>
            <div class="row">
                <div class="col-md-6 mt-2">
                    <div class="input-group contact">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                              </svg>
                        </span>
                        <div class="form-floating">
                          <input type="text" class="form-control" formControlName="contact" id="contact" placeholder="contato" required>
                          <label for="contact">Contato</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 form-check text-light">
                        <input type="checkbox" formControlName="active" name="active" class="form-check-input" id="active">
                        <label class="form-check-label" for="active">Este fornecedor está ativo?</label>
                      </div>

                        <select
                            class="custom-select mb-3"
                            (change)="changeCategory($event)"
                            formControlName="category">
                
                            <option value="">Escolha a categoria</option>
                            <option *ngFor="let category of category" [ngValue]="category">
                {{ category }}
            </option>
            </select>
            <div class="mb-3 d-flex justify-content-end">
                <button class="btn btn-secondary" (click)="save()">Salvar</button>
            
              </div>
              </div>        
        </div>
</div>
    </form>

<div class="tabela mt-5 text-center">
    <div class="display-6 text-light rounded-2 border">
RELATÓRIO
    </div>
    <table class="table bg-light table-striped mt-2 rounded-2">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">ativo?</th>
            <th scope="col">Categoria</th>
            <th scope="col">Contato</th>
      <th scope="col" class="d-flex justify-content-end">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of supplier">
            <th scope="row">{{supplier.id}}</th>
            <td>{{supplier.name}}</td>
            <td>{{supplier.active}}</td>
            <td>{{supplier.category}}</td>
            <td>{{supplier.contact}}</td>
            <td class="d-flex justify-content-end">
                <button class="btn-primary me-1 btn" (click)="edit(supplier)">Editar</button>
                <button class="btn btn-danger" (click)="remove(supplier)">Excluir</button>
              </td>
          </tr>
        </tbody>
      </table>
</div>